.wg-slider {
    width: 360px;
    height: 160px;
    background-color: #EAB721;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* slider item settings
 Widget container - is a flexbox
*/

.wg-container{
    width: 312px;
    height: 112px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
    padding: 4px;
}

/* Widget items have a wg-left and a wg-right div

*/

.top-level {
    width: 360px;
    height: 160px;
}

.wg-left, .wg-right {
    background-color: rgba(245, 89, 6, 0.0);
    text-align: right;
    float: right;
    height: 35%;
    width: 240px;
}

.wg-left {
    font-size: 14px;
}

.slider-invis {
    opacity: 0;
}
.lt-gen p {
    margin-top: 40px;
}

.record-gen p {
    margin-top: 40px;
}

.wg-left p, .wg-right p {
    vertical-align: middle;
}

