
.header {
    color: #F47F23;
    display: inline-block;
    text-align: left;
}

.row-element {
    width: 100%
}

.container {
    background-color: white;
    width: 980px;
    padding: 10px;
}

.element {
    padding: 12px;
    margin: 10px 10px;
    display: inline-block;
    background-color: #fbf5e2;
}

#masthead {
    width: 100%;
    margin: 10px 0px 0px 0px;
    height: 120px;
    display: block;
}
#mastLogo {
    width: 50%;
    margin: 0px 0px 0px 0px;
    height: 120px;
    float: left;
    display: block;
}
#page {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#mastNavBar {
    width: auto;
    height: 45px;
    background-color: #F47F23;
    margin: 50px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
    border-radius: 22px;
    float: right;
}
#mastNavBar li {
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    height: 35px;
    line-height: 33px;
    margin: 5px 0px 0px 0px;
    padding: 0px 17px 0px 17px;
    border-left: 1px solid #FFA35E;
    float: right;
    display: inline;
}
#mastNavBar li a {
    text-decoration: none;
    color: #fff;
}
.mastNavBarLast {
    border-left: none                       !important;
}

.buttons button {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: Arial;
    color: #603913;
    background: #f5d1b5;
    border: 2px solid #f47f23;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
}

.buttons button:hover {
  background: #ffa45e;
  background-image: -webkit-linear-gradient(top, #ffa45e, #ffbf5e);
  background-image: -moz-linear-gradient(top, #ffa45e, #ffbf5e);
  background-image: -ms-linear-gradient(top, #ffa45e, #ffbf5e);
  background-image: -o-linear-gradient(top, #ffa45e, #ffbf5e);
  background-image: linear-gradient(to bottom, #ffa45e, #ffbf5e);
  text-decoration: none;
}

#power1 {
    background-image: url("/img/laptop-wg-bg.png");
    min-height: 160px;
}

#power2 {
    background-image: url("/img/house-wg-bg.png");
    min-height: 160px;
}

#power1 p {
    color: #DDDDDD;
}

#currentDate {
    float: left;
    margin-left: 20px;
}

#energy-generated-text {
    float: right;
    margin-right: 20px;
    background-color: #f5d1b5;
    padding: 2px 16px
}

.medium {
    font-size: 125%;
    display: block;
    text-align: center;
    margin: 10px 9px;
}
