
.header {
    color: #F47F23;
    display: inline-block;
    text-align: left;
}

.row-element {
    width: 100%
}

.container {
    background-color: white;
    width: 980px;
    padding: 10px;
}

.element {
    padding: 12px;
    margin: 10px 10px;
    display: inline-block;
    background-color: #fbf5e2;
}

#page {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.buttons button {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: Arial;
    color: #603913;
    background: #f5d1b5;
    border: 2px solid #f47f23;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
}

.buttons button:hover {
  background: #ffa45e;
  background-image: -webkit-linear-gradient(top, #ffa45e, #ffbf5e);
  background-image: -moz-linear-gradient(top, #ffa45e, #ffbf5e);
  background-image: -ms-linear-gradient(top, #ffa45e, #ffbf5e);
  background-image: -o-linear-gradient(top, #ffa45e, #ffbf5e);
  background-image: linear-gradient(to bottom, #ffa45e, #ffbf5e);
  text-decoration: none;
}

#power1 {
    background-image: url("/img/laptop-wg-bg.png");
    min-height: 160px;
}

#power2 {
    background-image: url("/img/house-wg-bg.png");
    min-height: 160px;
}

#power1 p {
    color: #DDDDDD;
}

#currentDate {
    position: absolute;
    left: 20px;
}

.medium {
    font-size: 125%;
    display: block;
    text-align: center;
    margin: 10px 9px;
}


.tooltipped .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    opacity: 0.7;
    z-index: 10;
}


.tooltipped:hover .tooltip-text {
    visibility: visible;
}


.tooltipped {
    position: absolute;
    display: inline-block;
    padding:  2px 16px;
    background-color: #f5d1b5;
    right: 0px;
}
.rowelement {
    height: 20px;
    position: relative;
}
