/*

*/

.wg-slider {
    width: 360px;
    height: 160px;
    background-color: #F59A06;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* slider item settings
 Widget container - is a flexbox
*/

.wg-container{
    width: 312px;
    height: 112px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
    padding: 4px;
}

/* Widget items have a wg-left and a wg-right div

*/

.wg-left, .wg-right {
    background-color: rgba(245, 89, 6, 0.0);
    margin: 2px;
    min-width: 45%;
    padding: 2px;
    min-height: 50%;
}

/* big-num is used under the wg-left item
*/

.big{
    font-size: 150%;
    display: block;
    margin: 0px;
    padding: 0px;
}

.small {
    font-size: 75%;
}

.slider-invis {
    opacity: 0;
}
