/*

*/

.wg-slider {
    width: 360px;
    height: 160px;
    background-color: #EAB721;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* slider item settings
 Widget container - is a flexbox
*/

.wg-container{
    width: 312px;
    height: 112px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
    padding: 4px;
}

/* Widget items have a wg-left and a wg-right div

*/

.wg-left, .wg-right {
    background-color: rgba(245, 89, 6, 0.0);
    margin: 2px;
    min-width: 45%;
    padding: 2px;
    min-height: 50%;
}

/* big-num is used under the wg-left item
*/

.big{
    font-size: 150%;
    display: block;
    margin: 0px;
    padding: 0px;
}

.small {
    font-size: 75%;
}

.slider-invis {
    opacity: 0;
}

.wg-overlay {
    width: 265px;
    position: absolute;
    margin-left: 0;
    margin-top: 0;
    left: 12.5%;
    z-index: 10;
    background-color: #f25724;
    color: bisque;
    padding: 8px;
    border-radius: 0px 0px 12px 12px;
}

.wg-overlay p {
    margin-top: 0px !important;
    margin-bottom: 0px;
    text-align: center;
}

.lt-gen p {
    margin-top: 40px;
}

.record-gen p {
    margin-top: 40px;
}

#record-day-whole-programme {
    font-size: 110%;
    display: block;
    margin: 0px;
    padding: 0px;
}


